<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <span>Liên Hệ</span>
      <h2>Liên Hệ</h2>
    </div>
  </div>

  <div class="map" data-aos="fade-up">
    <iframe
      style="border: 0; width: 100%; height: 350px"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.6703016235733!2d108.13914137464556!3d16.082589784598795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421f3266e1a309%3A0xe82acc70534b4bc2!2sC%C3%94NG%20TY%20TNHH%20PI%20VINA%20DANANG!5e0!3m2!1svi!2s!4v1710085631590!5m2!1svi!2s"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <div class="container" data-aos="fade-up">
    <div class="info-wrap mt-5">
      <div class="row">
        <div class="col-lg-4 info">
          <i class="ri-map-pin-line"></i>
          <h4>Địa chỉ:</h4>
          <p>{{ about.address }}</p>
        </div>

        <div class="col-lg-4 info mt-4 mt-lg-0">
          <i class="ri-mail-line"></i>
          <h4>Email:</h4>
          <p [innerHTML]="getSanitizedContent(about.email | newline)"></p>
        </div>

        <div class="col-lg-4 info mt-4 mt-lg-0">
          <i class="ri-phone-line"></i>
          <h4>Điện thoại:</h4>
          <p [innerHTML]="getSanitizedContent(about.phone_number | newline)"></p>
        </div>
      </div>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="email-form">
      <div class="form-group mt-3">
        <input type="text" formControlName="name" class="form-control" placeholder="Nhập tên của bạn" required />
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-danger small">
          Tên bắt buộc
        </div>
      </div>
      <div class="form-group mt-3">
        <input type="email" formControlName="email" class="form-control" placeholder="Email của bạn" required />
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger small">
          Cần phải có email hợp lệ.
        </div>
      </div>
      <div class="form-group mt-3">
        <input type="text" formControlName="subject" class="form-control" placeholder="Subject" required />
        <div
          *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched"
          class="text-danger small"
        >
          Chủ đề bắt buộc.
        </div>
      </div>
      <div class="form-group mt-3">
        <textarea
          formControlName="message"
          class="form-control"
          rows="3"
          placeholder="Để lại lời nhắn cho chúng tôi"
          required
        ></textarea>
        <div
          *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
          class="text-danger small"
        >
          Nội dung là bắt buộc.
        </div>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-primary" type="submit" [disabled]="contactForm.invalid">Gửi Tin nhắn</button>
      </div>
    </form>
  </div>
</section>
<!-- End Contact Section -->
