<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
  <div class="clients__container">
    <div class="clients__section-title">
      <span class="clients__section-title--span">CLIENTS</span>
      <h2 class="clients__section-title--heading">KHÁCH HÀNG</h2>
    </div>
    <div class="clients__slider swiper">
      <div class="clients__swiper-wrapper swiper-wrapper">
        <div class="clients__swiper-slide swiper-slide" *ngFor="let client of clients">
          <img [src]="client.logo" class="clients__img img-fluid" [alt]="client.name" />
        </div>
      </div>
      <div class="clients__swiper-pagination swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Clients Section -->
