<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>GIỚI THIỆU</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/images/about-img.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content">
        <h3 style="text-align: center">PI VINA DANANG CO.,LTD</h3>
        <p class="fst-italic mt-4">
          Công ty TNHH PI VINA ĐÀ NẴNG là doanh nghiệp 100% vốn đầu tư nước
          ngoài, chuyên gia công hàng thời trang xuất khẩu đi các nước trên thế
          giới.
        </p>
        <p class="fst-italic text-center">Trụ sở chính tại Seoul, Hàn Quốc</p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> Địa chỉ: Lô P2, Đường số 6, Khu
            công nghiệp Hòa Khánh, Hòa Khánh Bắc, Quận Liên Chiểu, Thành phố Đà
            Nẵng, Việt Nam.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Điện thoại: (+84)-236-379-6756
            hoặc (+84)-236-379-6757
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Hoạt động tại Việt Nam Tháng 6
            năm 2016
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Mười thập kỷ kinh nghiệm trong
            lĩnh vực may cao cấp
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Chúng tôi quan tâm đến sự hài
            lòng của khách hàng
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
