<!-- ======= About Section ======= -->
<section *ngIf="about" id="about" class="about">
  <div class="about__container" data-aos="fade-up">
    <div class="about__header">
      <span class="about__header-span">ABOUT</span>
      <h2 class="about__header-heading">GIỚI THIỆU</h2>
    </div>
    <div class="about__content">
      <div class="about__image-wrapper">
        <img
          *ngIf="about.imageUrl; else noImage"
          [src]="about.imageUrl"
          class="about__image"
          [alt]="about.title || 'About Image'"
        />
        <ng-template #noImage>
          <p class="about__no-image">Image not available</p>
        </ng-template>
      </div>
      <div class="about__details">
        <h3 class="about__title" *ngIf="about.title">
          {{ about.title }}
        </h3>
        <p class="about__description" *ngIf="about.content">
          {{ about.content }}
        </p>
        <ul class="about__list">
          <li class="about__list-item" *ngIf="about.address">
            <i class="fas fa-check-circle"></i>
            Địa chỉ:
            {{ about.address }}
          </li>
          <li class="about__list-item" *ngIf="about.phoneNumber">
            <i class="fas fa-check-circle"></i>
            Điện thoại:
            {{ about.phoneNumber }}
          </li>
          <li class="about__list-item" *ngIf="about.foundingDate">
            <i class="fas fa-check-circle"></i>
            Hoạt động tại Việt Nam:
            {{ about.foundingDate }}
          </li>
          <li class="about__list-item" *ngIf="about.visionStatement">
            <i class="fas fa-check-circle"></i>
            {{ about.visionStatement }}
          </li>
          <li class="about__list-item">
            <i class="fas fa-check-circle"></i>
            Chúng tôi quan tâm đến sự hài lòng của khách hàng
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
