<!-- ======= About Section ======= -->
<section *ngIf="about" id="about" class="about">
  >
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>GIỚI THIỆU</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img
          *ngIf="about.image_url; else noImage"
          [src]="about.image_url"
          class="img-fluid"
          [alt]="about.title || 'About Image'"
        />
        <ng-template #noImage>
          <p class="text-muted">Image not available</p>
        </ng-template>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content">
        <h3 style="text-align: center" *ngIf="about.title">
          {{ about.title }}
        </h3>
        <p class="fst-italic mt-4" *ngIf="about.content">
          {{ about.content }}
        </p>

        <ul>
          <li *ngIf="about.address">
            <i class="bi bi-check-circle"></i>
            Địa chỉ:
            {{ about.address }}
          </li>
          <li *ngIf="about.phone_number">
            <i class="bi bi-check-circle"></i>
            Điện thoại:
            {{ about.phone_number }}
          </li>
          <li *ngIf="about.founding_date">
            <i class="bi bi-check-circle"></i>
            Hoạt động tại Việt Nam:
            {{ about.founding_date }}
          </li>
          <li *ngIf="about.vision_statement">
            <i class="bi bi-check-circle"></i>
            {{ about.vision_statement }}
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            Chúng tôi quan tâm đến sự hài lòng của khách hàng
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
