/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }

  &__section-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    &--left {
      flex: 1;
      padding: 1rem;
    }

    &--right {
      flex: 1;
      padding: 1rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  &__no-image {
    color: #6c757d;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 1rem;
  }

  &__content {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__list-item {
    padding-bottom: 10px;

    i {
      font-size: 20px;
      padding-right: 4px;
      color: #00c1c1;
    }
  }
}
