<div class="admin-media">
  <div class="admin-media__header">
    <h2 class="admin-media__title">Media</h2>
    <p class="admin-media__description">Quản lý các tập tin trên blog của bạn, bao gồm ảnh, video, tài liệu.</p>
  </div>
  <div class="admin-media__filter-upload">
    <div class="admin-media__filter-bar">
      <div class="admin-media__dropdown" *ngIf="isMobileView">
        <button type="button" class="admin-media__dropdown-button" (click)="toggleDropdown()">
          <i class="admin-media__dropdown-icon fas fa-bars"></i>
        </button>
        <div class="admin-media__dropdown-content" *ngIf="isDropdownOpen">
          <a
            *ngFor="let type of objectTypes"
            class="admin-media__dropdown-link"
            [class.active]="selectedObjectType === type.value"
            (click)="filterMedia(type.value)"
          >
            {{ type.label }}
          </a>
        </div>
      </div>

      <!-- Navigation and Search Container -->
      <div class="admin-media__nav-search">
        <!-- Navigation for categories -->
        <div class="admin-media__nav-panel" *ngIf="!isMobileView">
          <ul class="admin-media__tabs-list">
            <li class="admin-media__nav-tab" *ngFor="let type of objectTypes">
              <a
                class="admin-media__nav-link"
                [class.active]="selectedObjectType === type.value"
                (click)="filterMedia(type.value)"
              >
                {{ type.label }}
              </a>
            </li>
          </ul>
        </div>
        <i
          class="admin-media__search-icon fas"
          [ngClass]="isSearchActive ? 'fa-times' : 'fa-search'"
          matTooltip="Tìm kiếm"
          (click)="toggleSearch()"
        ></i>

        <!-- Input Search Field -->
        <input
          type="text"
          class="admin-media__search-field"
          [ngClass]="{ active: isSearchActive }"
          placeholder="Tìm kiếm hình ảnh..."
          aria-label="Search"
          (input)="onSearch($event)"
          #searchInput
        />
      </div>

      <!-- Storage Info -->
      <div class="admin-media__storage-info">
        <mat-progress-bar
          class="admin-media__plan-storage-bar"
          mode="determinate"
          [value]="(totalFileSizes / (100 * 1024 * 1024 * 1024)) * 100"
          aria-label="Storage usage progress bar"
        ></mat-progress-bar>
        <span class="admin-media__plan-storage-label">
          Đã dùng {{ (totalFileSizes / (1024 * 1024)).toFixed(2) }} MB ({{
            ((totalFileSizes / (100 * 1024 * 1024 * 1024)) * 100).toFixed(2)
          }}%)
        </span>
      </div>
    </div>

    <div class="admin-media__upload-bar">
      <div class="admin-media__upload-controls">
        <!-- Nút tải lên thay bằng input file và label -->
        <label for="fileInput" class="admin-media__btn-upload" (click)="checkUploadType($event)">
          <i class="fas fa-upload"></i>
          Tải lên
        </label>

        <!-- Input file ẩn nhưng được kích hoạt khi nhấn vào label -->
        <input type="file" id="fileInput" (change)="onFileChange($event)" style="display: none" />
      </div>
      <div class="admin-media__object-type">
        <select class="admin-media__select" [(ngModel)]="uploadType" required>
          <option value="" disabled selected>Chọn loại ảnh</option>
          <option *ngFor="let type of getFilteredObjectTypes()" [value]="type.value">{{ type.label }}</option>
        </select>
      </div>
      <div class="admin-media__action" *ngIf="selectedImages.length > 0">
        <button class="admin-media__action-btn" (click)="openConfirmDialog()" matTooltip="Xóa hình ảnh">
          <i class="fas fa-trash admin-media__action-remove"></i>
        </button>
        <button class="admin-media__action-btn" (click)="unSelectAll()" matTooltip="Bỏ chọn tất cả">
          <i class="fas fa-times-circle admin-media__action-unselect"></i>
        </button>
        <button class="admin-media__action-btn" (click)="viewSelectImage()" matTooltip="Xem chi tiết hình ảnh">
          <i class="fa-regular fa-eye admin-media__action-view"></i>
        </button>
      </div>
      <div class="admin-media__slider">
        <i class="admin-media__slider-icon--small fas fa-image"></i>
        <input type="range" class="admin-media__slider-range" min="1" max="100" />
        <i class="admin-media__slider-icon--large fas fa-image"></i>
      </div>
    </div>
  </div>
  <div class="admin-media__content">
    <mat-grid-list cols="6" rowHeight="150px" gutterSize="10px">
      <mat-grid-tile
        *ngFor="let image of images; trackBy: trackByImageId"
        (click)="toggleSelectImage(image)"
        class="admin-media__image-item"
      >
        <mat-card class="admin-media__image-card" [class.selected]="isSelected(image)" title="{{ image.fileName }}">
          <img
            [appLazyLoad]="image.imageUrl"
            [transitionDuration]="'5s'"
            alt="{{ image.fileName }}"
            class="admin-media__image"
            [class.temporary]="image.isTemporary"
            (error)="onImageError($event)"
          />
          <div class="admin-media__uploading-spinner" *ngIf="image.isUploading">
            <i class="fas fa-spinner fa-spin"></i>
          </div>
          <div class="admin-media__selected-check" *ngIf="isSelected(image)">
            <i class="fas fa-check"></i>
            <!-- Dấu tích khi chọn -->
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- Phần tử đánh dấu cuối danh sách -->
    <div #scrollAnchor></div>

    <!-- Hiển thị biểu tượng xoay vòng khi đang xóa -->
    <div *ngIf="isDeleting" class="admin-media__deleting-spinner">
      <i class="fas fa-spinner fa-spin"></i>
      Đang xóa ảnh...
    </div>
  </div>
</div>
