<div class="admin-email-page">
  <div class="container">
    <header class="mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <div class="text-left">
          <h1 class="title">Email</h1>
          <p class="text-muted">
            Nơi truy cập, cài đặt và quản lý email của bạn.
          </p>
        </div>
      </div>
    </header>
    <div class="content mt-3">
      <img
        src="assets/images/email.jpg"
        alt="Email Illustration"
        class="email-illustration"
      />
      <h2>Địa chỉ email tùy chỉnh của riêng bạn</h2>
      <p>
        Nâng cấp, thiết lập tên miền của bạn và chọn giải pháp linh hoạt của
        chúng tôi để kết nối tên miền của bạn với email và bắt đầu nhận email
        ngay hôm nay.
      </p>
      <div>
        <button type="button" class="btn btn-primary me-2">Nâng cấp gói</button>
        <button type="button" class="btn btn-outline-secondary">
          Tìm thử một tên miền
        </button>
      </div>
    </div>
  </div>
</div>
