<!-- ======= Header ======= -->
<header class="header-admin">
  <div class="header-admin__logo-container">
    <a class="header-admin__logo" (click)="handleNavigateDashboard()">
      <img src="assets/svg/logo.svg" loading="lazy" alt="Logo" class="header-admin__logo-img" />
      <span class="header-admin__logo-text">PI VINA DANANG</span>
    </a>
    <i class="header-admin__toggle-sidebar-btn fas fa-bars" (click)="toggleSidebar()"></i>
  </div>

  <nav class="header-admin__nav">
    <ul class="header-admin__nav-list">
      <li class="header-admin__nav-item">
        <a class="header-admin__nav-link" (click)="toggleNotifications()">
          <i class="header-admin__nav-icon fas fa-bell"></i>
          <span class="header-admin__badge">4</span>
        </a>
      </li>

      <li class="header-admin__nav-item">
        <a class="header-admin__nav-link" (click)="toggleProfileMenu()">
          <span class="header-admin__nav-text" *ngIf="userResponse">Hello {{ userResponse.fullName }}</span>
          <img
            [src]="userResponse?.profileImage"
            loading="lazy"
            (error)="handleImageError($event)"
            alt="Profile"
            class="header-admin__profile-img"
          />
        </a>
        <ul class="header-admin__profile-menu" [ngClass]="{ 'header-admin__profile-menu--visible': isProfileMenuVisible }">
          <li class="header-admin__profile-item">
            <a class="header-admin__profile-link" (click)="navigateUserProfile()">
              <i class="fas fa-user"></i>
              <span>Hồ sơ của tôi</span>
            </a>
          </li>
          <li class="header-admin__profile-divider"></li>
          <li class="header-admin__profile-item">
            <a class="header-admin__profile-link" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
              <span>Đăng xuất</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<!-- End Header -->
