/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.header-admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(29, 35, 39);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  z-index: 997;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;

  &__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo-img {
    max-height: 20px;
    margin-right: 10px;
  }

  &__logo-text {
    font-size: 16px;
    font-weight: 600;
    color: #feffff;
  }

  &__toggle-sidebar-btn {
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    margin-left: 20px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-item {
    position: relative;
    margin-left: 20px;
  }

  &__nav-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    position: relative;
  }

  &__nav-icon {
    font-size: 18px;
  }

  &__badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #01b1d7;
    color: #ffffff;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
  }

  &__nav-text {
    margin-right: 10px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
  }

  &__profile-img {
    max-height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__profile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 30px rgba(82, 63, 105, 0.2);
    border-radius: 4px;
    z-index: 1000;
    min-width: 180px;
    list-style: none;
    cursor: pointer;

    &--visible {
      display: block;
    }

    .header-admin__profile-item {
      transition: background-color 0.3s;
      padding: 10px;

      &:hover {
        background-color: #f6f9ff;
      }
    }

    .header-admin__profile-link {
      display: flex;
      align-items: center;
      color: #444444;
      text-decoration: none;

      transition:
        background-color 0.3s,
        color 0.3s;

      &:hover {
        background-color: #f6f9ff;
        color: #01b1d7;
      }

      i {
        margin-right: 10px;
        transition: color 0.3s;
      }

      &:hover i {
        color: #01b1d7;
      }
    }

    .header-admin__profile-divider {
      height: 1px;
      background-color: #a5c5fe;
      margin: 5px 0;
    }
  }
}

/* Dropdown animation */
@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
