//------ Top Bar----------
.topbar {
  background: #ffffff;
  border-bottom: 2px solid #dad9d9;
  font-size: 14px;
  height: 44px;
  padding: 0;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 996;

  &.topbar-hidden {
    transform: translateY(-100%);
  }

  &__container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  &__contact-info {
    display: flex;
    align-items: center;

    & i {
      font-style: normal;
      color: #01b1d7;

      & a,
      & span {
        padding-left: 5px;
        color: #444444;
      }

      & a {
        line-height: 0;
        transition: 0.3s;

        &:hover {
          color: #01b1d7;
        }
      }
    }
  }

  &__social-links {
    display: none;
    display: flex;

    & a {
      color: #62787d;
      padding: 4px 12px;
      display: inline-block;
      line-height: 1px;
      transition: 0.3s;
      border-left: 1px solid #e9e9e9;

      &:hover {
        color: #01b1d7;
      }

      &:first-child {
        border-left: 0;
      }

      & i {
        transition: 0.3s;
      }
    }

    & .facebook i {
      color: #3b5998;
    }

    & .youtube i {
      color: #ff0000;
    }
  }

  &__login {
    cursor: pointer;
    & .popover-item {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

//--------Header-----------
.header {
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  top: 44px;
  transition: top 0.5s;

  &.topbar-hidden {
    top: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    & h1 {
      font-size: 25px;
      margin: 0;
      line-height: 1;
      font-weight: 650;
      letter-spacing: 1px;
      cursor: pointer;

      & a,
      & a:hover {
        color: #354144;
        text-decoration: none;
      }
    }

    & img {
      padding: 0;
      margin: 0;
      max-height: 40px;
      cursor: pointer;
    }
  }

  &__navbar {
    padding: 0;

    & ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }

    & li {
      position: relative;
    }

    & a,
    & a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      font-weight: 600;
      color: #404f52;
      white-space: nowrap;
      text-transform: uppercase;
      transition: 0.3s;
      cursor: pointer;

      &:hover,
      &.active,
      &.active:focus,
      li:hover > & {
        color: #01b1d7;
      }
    }

    & .dropdown {
      & ul {
        display: block;
        position: absolute;
        left: 30px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;

        & li {
          min-width: 200px;
        }

        & a {
          padding: 10px 20px;

          &:hover,
          .active:hover,
          li:hover > & {
            color: #01b1d7;
          }
        }
      }

      &:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
  }

  &__mobile-nav-toggle {
    color: #354144;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;

    &.bi-x {
      color: #fff;
    }

    @media (max-width: 991px) {
      display: block;
    }
  }
}

@media (max-width: 991px) {
  .header__navbar ul {
    display: none;
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(31, 38, 39, 0.9);
    transition: 0.3s;
    z-index: 999;

    .mobile-nav-toggle {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    ul {
      display: block;
      position: absolute;
      top: 55px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      padding: 10px 0;
      background-color: #fff;
      overflow-y: auto;
      transition: 0.3s;

      a,
      a:focus {
        padding: 10px 20px;
        font-size: 15px;
        color: #354144;

        &:hover,
        &.active,
        li:hover > & {
          color: #01b1d7;
        }
      }

      .dropdown ul {
        position: static;
        display: none;
        margin: 10px 20px;
        padding: 10px 0;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);

        li {
          min-width: 200px;
        }

        a {
          padding: 10px 20px;

          &:hover,
          .active:hover,
          li:hover > & {
            color: #01b1d7;
          }
        }
      }

      .dropdown-active {
        display: block;
      }
    }
  }
}
