<header id="header" class="header" aria-label="Header">
  <div class="header__container">
    <div class="header__logo">
      <h1 class="header__logo-image">
        <a routerLink="/" class="header__logo-link">
          <img src="assets/svg/logo.svg" loading="lazy" class="header__logo-img" alt="PI DANANG Logo" loading="lazy" />
        </a>
      </h1>
      <span class="header__logo-text">PI VINA DANANG</span>
    </div>

    <nav id="navbar" class="header__navbar" aria-label="Main Navigation">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" [ngClass]="{ active: activeNavItem === 0 }" (click)="scrollToSection('slide', 0)">TRANG CHỦ</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" [ngClass]="{ active: activeNavItem === 1 }" (click)="scrollToSection('about', 1)">GIỚI THIỆU</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" [ngClass]="{ active: activeNavItem === 2 }" (click)="scrollToSection('clients', 2)">KHÁCH HÀNG</a>
        </li>
        <li class="header__nav-item">
          <a routerLink="/blog" class="header__nav-link" [ngClass]="{ active: activeNavItem === 3 }" (click)="handleBlogClick($event)">
            <span>TIN TỨC</span>
          </a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" [ngClass]="{ active: activeNavItem === 4 }" (click)="scrollToSection('contact', 4)">LIÊN HỆ</a>
        </li>
      </ul>
      <button class="header__mobile-nav-toggle" (click)="toggleMobileNav($event)" aria-label="Toggle Navigation">
        <i class="fas fa-bars" id="mobile-nav-icon"></i>
      </button>
    </nav>
  </div>
</header>
<div data-scroll-container></div>
