<div class="users-admin">
  <div class="users-admin__header">
    <h1 class="users-admin__title">User Management Dashboard</h1>
    <a [routerLink]="['/register']">
      <button class="users-admin__add-user-btn">Add New User</button>
    </a>
  </div>

  <div class="users-admin__filters" fxLayout="row" fxLayoutGap="5px">
    <div class="users-admin__search" fxFlex="70">
      <i class="fas fa-search users-admin__search-icon"></i>
      <input
        type="text"
        class="users-admin__search-input"
        placeholder="Search users..."
        [(ngModel)]="keyword"
        (keyup.enter)="onSearchEnter($event)"
        (blur)="onBlurSearch()"
      />
      <i class="fas fa-times users-admin__search-clear" (click)="clearSearch($event)" *ngIf="showClearIcon"></i>
    </div>

    <select class="users-admin__filter-select" (change)="onStatusChange($event)" fxFlex="15">
      <option [value]="userStatus.All">All Statuses</option>
      <option [value]="userStatus.Active">Active</option>
      <option [value]="userStatus.Inactive">Inactive</option>
    </select>
    <select class="users-admin__filter-select" (change)="onRoleChange($event)" fxFlex="15">
      <option value="">All Roles</option>
      <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
    </select>
  </div>

  <div class="users-admin__table-responsive">
    <table class="users-admin__table" *ngIf="users.length > 0">
      <thead class="users-admin__table-head">
        <tr class="users-admin__table-row">
          <th class="users-admin__table-header">Name</th>
          <th class="users-admin__table-header">Email</th>
          <th class="users-admin__table-header">Phone</th>
          <th class="users-admin__table-header">Status</th>
          <th class="users-admin__table-header">Role</th>
          <th class="users-admin__table-header">Actions</th>
        </tr>
      </thead>
      <tbody class="users-admin__table-body">
        <tr *ngFor="let user of users; trackBy: trackByUserId" class="users-admin__table-row">
          <td class="users-admin__table-cell">{{ user.fullName }}</td>
          <td class="users-admin__table-cell">{{ user.email }}</td>
          <td class="users-admin__table-cell">{{ user.phoneNumber }}</td>
          <td class="users-admin__table-cell">
            <span
              [ngClass]="{
                'users-admin__status--active': user.isActive === true,
                'users-admin__status--inactive': user.isActive === false,
              }"
            >
              {{ user.isActive ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <td class="users-admin__table-cell">{{ user.role.name }}</td>

          <td class="users-admin__table-cell users-admin__action-buttons">
            <button class="users-admin__edit-btn" matTooltip="Edit" aria-label="Edit user" (click)="editUser(user)">Edit</button>
            <button
              class="users-admin__action-btn"
              [ngClass]="user.isActive ? 'users-admin__block-btn' : 'users-admin__enable-btn'"
              matTooltip="{{ user.isActive ? 'Block' : 'Enable' }}"
              (click)="blockOrEnableUser(user.id, !user.isActive)"
            >
              {{ user.isActive ? 'Block' : 'Enable' }}
            </button>
            <button class="users-admin__action-btn users-admin__delete-btn" matTooltip="Delete" (click)="deleteUser(user.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="users-admin__no-data" *ngIf="users.length === 0">
      <p>No users found.</p>
    </div>
  </div>

  <div class="users-admin__pagination" *ngIf="users.length > 0">
    <app-custom-pagination
      [totalPages]="totalPages"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    ></app-custom-pagination>
  </div>
</div>
