<div class="comment-management">
  <div class="comment-management__header">
    <h2 class="comment-management__header-title">Comment Management</h2>
  </div>
  <div class="comment-management__filters" fxLayout="row" fxLayoutGap="5px">
    <div class="comment-management__filters-search" fxFlex="80">
      <i class="fas fa-search comment-management__search-icon"></i>
      <input
        class="comment-management__search-input"
        type="text"
        [(ngModel)]="keyword"
        (keyup.enter)="onSearchEnter($event)"
        (focus)="onFocusSearch($event)"
        (blur)="onBlurSearch($event)"
        placeholder="Search comments..."
        aria-label="Search comments"
      />
      <i class="fas fa-times comment-management__search-clear" (click)="clearSearch($event)" *ngIf="showClearIcon"></i>
    </div>
    <div class="comment-management__filter-select" fxFlex="20">
      <select [(ngModel)]="status" (change)="onStatusChange($event)" aria-label="Filter by status">
        <option value="">All Statuses</option>
        <option *ngFor="let status of CommentStatus | keyvalue" [value]="status.value">{{ status.value }}</option>
      </select>
    </div>
  </div>

  <div class="comment-management__container" *ngIf="comments.length > 0">
    <div class="comment">
      <div *ngFor="let comment of comments; trackBy: trackByCommentId" class="comment__card">
        <div class="comment__header">
          <div class="comment__header-user">
            <img
              [src]="comment.profileImage"
              loading="lazy"
              (error)="handleImageError($event)"
              alt="User Avatar"
              class="comment__header-avatar"
            />
            <div class="comment__header-details">
              <h4>{{ comment.fullName }}</h4>
              <span class="comment__header-date">{{ comment.createdAt | date: 'medium' }}</span>
            </div>
          </div>
          <div class="comment__header-badge" [ngClass]="comment.status?.toLowerCase()">
            {{ comment.status }}
          </div>
        </div>

        <div class="comment__content">
          <p>{{ comment.content }}</p>
        </div>

        <div class="comment__actions">
          <!-- Nếu trạng thái là 'approved' -->
          <ng-container *ngIf="comment.status === CommentStatus.Approved">
            <button class="comment__actions-edit" (click)="editComment(comment)">
              <i class="fas fa-edit"></i>
              Edit
            </button>
            <button class="comment__actions-delete" (click)="updateCommentStatus(comment.id, CommentStatus.Deleted)">
              <i class="fas fa-trash"></i>
              Delete
            </button>
          </ng-container>

          <!-- Nếu trạng thái là 'pending' hoặc 'spam' -->
          <ng-container *ngIf="comment.status === CommentStatus.Pending || comment.status === CommentStatus.Spam">
            <button class="comment__actions-approve" (click)="updateCommentStatus(comment.id, CommentStatus.Approved)">
              <i class="fas fa-check"></i>
              Approve
            </button>
            <button class="comment__actions-edit" (click)="editComment(comment)">
              <i class="fas fa-edit"></i>
              Edit
            </button>
            <button class="comment__actions-delete" (click)="updateCommentStatus(comment.id, CommentStatus.Deleted)">
              <i class="fas fa-trash"></i>
              Delete
            </button>
          </ng-container>

          <!-- Nếu trạng thái là 'deleted' -->
          <ng-container *ngIf="comment.status === CommentStatus.Deleted">
            <button class="comment__actions-restore" (click)="updateCommentStatus(comment.id, CommentStatus.Pending)">
              <i class="fas fa-undo"></i>
              Restore
            </button>
            <button class="comment__actions-edit" (click)="editComment(comment)">
              <i class="fas fa-edit"></i>
              Edit
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-management__pagination" *ngIf="comments.length > 0">
    <app-custom-pagination
      [totalPages]="totalPages"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    ></app-custom-pagination>
  </div>
</div>
