<div class="comment">
  <!-- Form chỉnh sửa bình luận -->
  <div *ngIf="editingComment && editingComment.id === comment.id" class="comment__edit-form">
    <app-comment-form
      [formGroup]="editCommentForm"
      placeholder="Nhập bình luận của bạn..."
      submitLabel="Lưu"
      (submitForm)="updateComment.emit()"
      (cancelForm)="cancelEdit.emit()"
    ></app-comment-form>
  </div>

  <div class="comment__content">
    <div class="comment__media d-flex">
      <img
        class="comment__avatar mr-3 rounded-circle"
        [src]="comment.profile_image || '/assets/images/no-image-available.jpg'"
        alt="User Avatar"
        style="width: 30px; height: 30px"
      />
      <div class="comment__details">
        <h5 class="comment__author">
          {{ comment.full_name }}
          <span class="comment__timestamp">{{ getRelativeTime(comment.created_at) }}</span>
        </h5>
        <p class="comment__text">{{ comment.content }}</p>
        <div class="comment__actions">
          <a class="comment__reply-button" (click)="toggleReplyForm.emit(comment.id)">Trả lời</a>
          <a class="comment__edit-button" (click)="editComment.emit(comment)">Sửa nhanh</a>
          <a class="comment__delete-button" (click)="deleteComment.emit(comment.id)">Thùng rác</a>
        </div>

        <ng-container *ngIf="replyFormVisibility[comment.id]" class="comment__reply-form">
          <app-comment-form
            [formGroup]="replyForms[comment.id]"
            placeholder="Nhập phản hồi của bạn..."
            submitLabel="Reply"
            (submitForm)="addReply.emit(comment.id)"
            (cancelForm)="toggleReplyForm.emit(comment.id)"
          ></app-comment-form>
        </ng-container>

        <ng-container>
          <div *ngIf="comment.replies && comment.replies.length > 0" class="comment__replies">
            <app-reply-comment
              *ngFor="let reply of comment.replies; let j = index; trackBy: trackByCommentId"
              [reply]="reply"
              [editingComment]="editingComment"
              [editCommentForm]="editCommentForm"
              (editComment)="editComment.emit($event)"
              (deleteComment)="deleteComment.emit($event)"
              (updateComment)="updateComment.emit()"
              (cancelEdit)="cancelEdit.emit()"
            ></app-reply-comment>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
