<div class="pagetitle">
  <h1>{{ categoryId ? "Update Category" : "Add New Category" }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item">Category</li>
      <li class="breadcrumb-item active">
        {{ categoryId ? "Update Category" : "Add Category" }}
      </li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ categoryId ? "Update Category" : "Add New Category" }}
          </h5>
          <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label"
                >Category Name</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  id="name"
                  formControlName="name"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      categoryForm.get('name')!.invalid &&
                      categoryForm.get('name')!.touched,
                  }"
                />
                <!-- Thông báo lỗi cho trường name -->
                <div
                  *ngIf="
                    categoryForm.get('name')?.invalid &&
                    categoryForm.get('name')?.touched
                  "
                  class="invalid-feedback"
                >
                  <small *ngIf="categoryForm.get('name')?.errors?.['required']"
                    >Name is required.</small
                  >
                  <small *ngIf="categoryForm.get('name')?.errors?.['minlength']"
                    >Name must be at least 3 characters long.</small
                  >
                  <small *ngIf="categoryForm.get('name')?.errors?.['maxlength']"
                    >Name cannot be more than 50 characters long.</small
                  >
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-10">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="categoryForm.invalid"
                >
                  {{ categoryId ? "Update" : "Save" }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
