<div
  class="admin"
  [ngClass]="{
    'toggle-sidebar': !isSidebarVisible,
    'collapsed-menu': isMenuCollapsed,
  }"
>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <img src="assets/images/LOGO.png" alt="" />
        <span class="d-none d-lg-block">PI VINA DANANG</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
    </div>
    <!-- End Logo -->

    <!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <!-- End Search Icon-->
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span> </a
          ><!-- End Notification Icon -->
        </li>
        <!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">
          <a
            class="nav-link nav-profile d-flex align-items-center pe-0"
            href="#"
            data-bs-toggle="dropdown"
          >
            <span class="d-none d-md-block" *ngIf="userResponse"
              >Hello {{ userResponse.fullname }}</span
            >
            <img
              src="assets/images/219986.png"
              alt="Profile"
              class="rounded-circle"
            /> </a
          ><!-- End Profile Iamge Icon -->

          <ul
            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
          >
            <li>
              <a
                class="dropdown-item d-flex align-items-center"
                href="users-profile.html"
              >
                <i class="bi bi-person"></i>
                <span>Hồ sơ của tôi</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a
                class="dropdown-item d-flex align-items-center"
                (click)="logout()"
              >
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng xuất</span>
              </a>
            </li>
          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->
      </ul>
    </nav>
    <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <div id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'dashboard' }"
          (click)="showAdminComponent('dashboard')"
        >
          <i class="bi bi-house-fill"></i>
          <span>Tổng quan</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'report' }"
          (click)="showAdminComponent('report')"
        >
          <i class="fa-solid fa-signal"></i><span>Thống Kê</span>
        </a>
      </li>
      <!-- End Components Nav -->
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'slides' }"
          (click)="showAdminComponent('slides')"
        >
          <i class="bi bi-sliders"></i><span>Trình chiếu</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'clients' }"
          (click)="showAdminComponent('clients')"
        >
          <i class="bi bi-person-vcard-fill"></i><span>Khách hàng</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'emails' }"
          (click)="showAdminComponent('emails')"
        >
          <i class="bi bi-envelope-fill"></i><span>Hộp thư của tôi</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'media' }"
          (click)="showAdminComponent('media')"
        >
          <i class="bi bi-record-btn-fill"></i><span>Media</span>
        </a>
      </li>
      <!-- End Forms Nav -->

      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{
            active:
              activeComponent === 'posts' ||
              activeComponent === 'add-post' ||
              activeComponent === 'categories' ||
              activeComponent === 'tags',
          }"
          (click)="toggleNav('postNav', 'posts')"
        >
          <i class="bi bi-pin-angle-fill"></i><span>Bài viết</span>
        </a>
        <ul
          id="post-nav"
          class="nav-content"
          [ngClass]="{ show: navStates['postNav'] }"
        >
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'posts' }"
              (click)="showAdminComponent('posts')"
            >
              <span>Tất cả bài viết</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'add-post' }"
              (click)="showAdminComponent('add-post')"
            >
              <span>Viết bài mới</span>
            </a>
          </li>

          <li>
            <a
              [ngClass]="{ active: activeComponent === 'categories' }"
              (click)="showAdminComponent('categories')"
              ><span>Chuyên mục</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'tags' }"
              (click)="showAdminComponent('tags')"
              ><span>Thẻ</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'comments' }"
          (click)="showAdminComponent('comments')"
        >
          <i class="bi bi-chat-right-quote-fill"></i><span>Bình luận</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'jetpack' }"
          (click)="showAdminComponent('jetpack')"
        >
          <i class="bi bi-lightning-fill"></i><span>Jetpack</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{
            active:
              activeComponent === 'interface' ||
              activeComponent === 'editor' ||
              activeComponent === 'customize',
          }"
          (click)="toggleNav('interfaceNav', 'interface')"
        >
          <i class="fas fa-palette"></i>
          <span>Giao diện</span>
        </a>
        <ul
          id="icons-nav"
          class="nav-content"
          [ngClass]="{ show: navStates['interfaceNav'] }"
        >
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'interface' }"
              (click)="showAdminComponent('interface')"
            >
              <span>UI</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'editor' }"
              (click)="showAdminComponent('editor')"
            >
              <span>Trình chỉnh sửa</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'customize' }"
              (click)="showAdminComponent('customize')"
            >
              <span>Tuỳ biến</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'plugin' }"
          (click)="showAdminComponent('plugin')"
        >
          <i class="bi bi-plugin"></i> <span>Plugin</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{
            active:
              activeComponent === 'users' ||
              activeComponent === 'add-user' ||
              activeComponent === 'profile',
          }"
          (click)="toggleNav('userNav', 'users')"
        >
          <i class="bi bi-person-fill"></i><span>Thành viên</span>
        </a>
        <ul
          id="icons-nav"
          class="nav-content"
          [ngClass]="{ show: navStates['userNav'] }"
        >
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'users' }"
              (click)="showAdminComponent('users')"
            >
              <span>Mọi người</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'add-user' }"
              (click)="showAdminComponent('add-user')"
            >
              <span>Thêm người dùng mới</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'profile' }"
              (click)="showAdminComponent('profile')"
            >
              <span>Hồ sơ</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'tools' }"
          (click)="showAdminComponent('tools')"
        >
          <i class="bi bi-wrench-adjustable"></i> <span>Công cụ</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeComponent === 'contact' }"
          (click)="showAdminComponent('contact')"
        >
          <i class="bi bi-envelope-arrow-up-fill"></i>
          <span>Liên hệ</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{
            active:
              activeComponent === 'general' ||
              activeComponent === 'write' ||
              activeComponent === 'read' ||
              activeComponent === 'discuss' ||
              activeComponent === 'newsletter' ||
              activeComponent === 'podcast' ||
              activeComponent === 'Efficiency' ||
              activeComponent === 'storage',
          }"
          (click)="toggleNav('settingNav', 'general')"
        >
          <i class="bi bi-gear-fill"></i><span>Cài đặt</span>
        </a>
        <ul
          id="icons-nav"
          class="nav-content"
          [ngClass]="{ show: navStates['settingNav'] }"
        >
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'general' }"
              (click)="showAdminComponent('general')"
            >
              <span>Cài đặt chung</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'write' }"
              (click)="showAdminComponent('write')"
            >
              <span>Viết</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'read' }"
              (click)="showAdminComponent('read')"
            >
              <span>Đọc</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'discuss' }"
              (click)="showAdminComponent('discuss')"
            >
              <span>Thảo luận</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'newsletter' }"
              (click)="showAdminComponent('newsletter')"
            >
              <span>Bản tin</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'podcast' }"
              (click)="showAdminComponent('podcast')"
            >
              <span>Podcast</span>
            </a>
          </li>
          <li>
            <a
              [ngClass]="{ active: activeComponent === 'storage' }"
              (click)="showAdminComponent('storage')"
            >
              <span>Tính năng lưu trữ</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleMenuCollapse()">
          <i class="fas fa-arrow-circle-left"></i>
          <span>Thu gọn menu</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->
    </ul>
  </div>
  <!-- End Sidebar-->

  <main id="main" class="main">
    <router-outlet></router-outlet>
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>PI VINA DANANG</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">Designed by <a>quanpham</a></div>
  </footer>
  <!-- End Footer -->
</div>
