<!-- ======= Sidebar ======= -->
<div
  id="sidebar"
  class="sidebar-admin"
  [ngClass]="{
    'sidebar-admin--collapsed': isMenuCollapsed,
    'sidebar-admin--hidden': !isSidebarVisible,
    'sidebar-admin--open': isSidebarVisible,
  }"
>
  <ul class="sidebar-admin__nav">
    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{ 'sidebar-admin__nav-link--active': activeComponent === 'dashboard' }"
        (click)="showAdminComponent('dashboard')"
      >
        <i class="fas fa-home"></i>
        <span>Tổng quan</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{ 'sidebar-admin__nav-link--active': activeComponent === 'slides' }"
        (click)="showAdminComponent('slides')"
      >
        <i class="fas fa-sliders-h"></i>
        <span>Trình chiếu</span>
      </a>
    </li>
    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{ 'sidebar-admin__nav-link--active': activeComponent === 'about' }"
        (click)="showAdminComponent('about')"
      >
        <i class="fas fa-info-circle"></i>
        <span>Giới Thiệu</span>
      </a>
    </li>
    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{ 'sidebar-admin__nav-link--active': activeComponent === 'clients' }"
        (click)="showAdminComponent('clients')"
      >
        <i class="fas fa-user-friends"></i>
        <span>Khách hàng</span>
      </a>
    </li>
    <li class="sidebar-admin__nav-item">
      <a class="sidebar-admin__nav-link" [ngClass]="{ 'sidebar-admin__nav-link--active': activeComponent === 'emails' }">
        <i class="fas fa-envelope"></i>
        <span>Hộp thư của tôi</span>
      </a>
    </li>
    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{ 'sidebar-admin__nav-link--active': activeComponent === 'media' }"
        (click)="showAdminComponent('media')"
      >
        <i class="fas fa-photo-video"></i>
        <span>Media</span>
      </a>
    </li>
    <!-- End Forms Nav -->

    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{
          'sidebar-admin__nav-link--active':
            activeComponent === 'posts' || activeComponent === 'add-post' || activeComponent === 'categories' || activeComponent === 'tags',
        }"
        (click)="toggleNav('postNav', 'posts')"
      >
        <i class="fas fa-thumbtack"></i>
        <span>Bài viết</span>
      </a>
      <ul id="post-nav" class="sidebar-admin__nav-content" [ngClass]="{ 'sidebar-admin__nav-content--show': navStates['postNav'] }">
        <li>
          <a
            class="sidebar-admin__nav-content-link"
            [ngClass]="{ 'sidebar-admin__nav-content-link--active': activeComponent === 'posts' }"
            (click)="showAdminComponent('posts')"
          >
            <span>Tất cả bài viết</span>
          </a>
        </li>
        <li>
          <a
            class="sidebar-admin__nav-content-link"
            [ngClass]="{ 'sidebar-admin__nav-content-link--active': activeComponent === 'add-post' }"
            (click)="showAdminComponent('add-post')"
          >
            <span>Viết bài mới</span>
          </a>
        </li>
        <li>
          <a
            class="sidebar-admin__nav-content-link"
            [ngClass]="{ 'sidebar-admin__nav-content-link--active': activeComponent === 'categories' }"
            (click)="showAdminComponent('categories')"
          >
            <span>Chuyên mục</span>
          </a>
        </li>
        <li>
          <a
            class="sidebar-admin__nav-content-link"
            [ngClass]="{ 'sidebar-admin__nav-content-link--active': activeComponent === 'tags' }"
            (click)="showAdminComponent('tags')"
          >
            <span>Thẻ</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{ 'sidebar-admin__nav-link--active': activeComponent === 'comments' }"
        (click)="showAdminComponent('comments')"
      >
        <i class="fas fa-comments"></i>
        <span>Bình luận</span>
      </a>
    </li>

    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{ 'sidebar-admin__nav-link--active': activeComponent === 'achievements' }"
        (click)="showAdminComponent('achievements')"
      >
        <i class="fas fa-trophy"></i>
        <span>Thành tựu</span>
      </a>
    </li>

    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{
          'sidebar-admin__nav-link--active':
            activeComponent === 'users' || activeComponent === 'forgot-password' || activeComponent === 'profile',
        }"
        (click)="toggleNav('userNav', 'users')"
      >
        <i class="fas fa-users"></i>
        <span>Thành viên</span>
      </a>
      <ul id="user-nav" class="sidebar-admin__nav-content" [ngClass]="{ 'sidebar-admin__nav-content--show': navStates['userNav'] }">
        <li>
          <a
            class="sidebar-admin__nav-content-link"
            [ngClass]="{ 'sidebar-admin__nav-content-link--active': activeComponent === 'users' }"
            (click)="showAdminComponent('users')"
          >
            <span>Mọi người</span>
          </a>
        </li>
        <li>
          <a
            class="sidebar-admin__nav-content-link"
            [ngClass]="{ 'sidebar-admin__nav-content-link--active': activeComponent === 'profile' }"
            (click)="showAdminComponent('profile')"
          >
            <span>Hồ sơ</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="sidebar-admin__nav-item">
      <a
        class="sidebar-admin__nav-link"
        [ngClass]="{ 'sidebar-admin__nav-link--active': activeComponent === 'contact' }"
        (click)="showAdminComponent('contact')"
      >
        <i class="fas fa-envelope-open-text"></i>
        <span>Liên hệ</span>
      </a>
    </li>
    <li class="sidebar-admin__nav-item">
      <a class="sidebar-admin__nav-link">
        <i class="fas fa-cog"></i>
        <span>Cài đặt</span>
      </a>
    </li>
    <li class="sidebar-admin__nav-item">
      <a class="sidebar-admin__nav-link" (click)="toggleMenuCollapse()">
        <i class="fas fa-arrow-circle-left"></i>
        <span>Thu gọn menu</span>
      </a>
    </li>
  </ul>
</div>
<!-- End Sidebar -->
