<!-- ======= Sidebar ======= -->
<div
  id="sidebar"
  class="sidebar-admin"
  [ngClass]="{
    'collapsed-menu': isMenuCollapsed,
    'toggle-sidebar': !isSidebarVisible,
    open: isSidebarVisible,
  }"
>
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: activeComponent === 'dashboard' }"
        (click)="showAdminComponent('dashboard')"
      >
        <i class="bi bi-house-fill"></i>
        <span>Tổng quan</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <!-- End Components Nav -->
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: activeComponent === 'slides' }" (click)="showAdminComponent('slides')">
        <i class="bi bi-sliders"></i>
        <span>Trình chiếu</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: activeComponent === 'about' }" (click)="showAdminComponent('about')">
        <i class="fa-solid fa-info"></i>
        <span>Giới Thiệu</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: activeComponent === 'clients' }" (click)="showAdminComponent('clients')">
        <i class="bi bi-person-vcard-fill"></i>
        <span>Khách hàng</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: activeComponent === 'emails' }" (click)="showAdminComponent('emails')">
        <i class="bi bi-envelope-fill"></i>
        <span>Hộp thư của tôi</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: activeComponent === 'media' }" (click)="showAdminComponent('media')">
        <i class="bi bi-record-btn-fill"></i>
        <span>Media</span>
      </a>
    </li>
    <!-- End Forms Nav -->

    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{
          active:
            activeComponent === 'posts' ||
            activeComponent === 'add-post' ||
            activeComponent === 'categories' ||
            activeComponent === 'tags',
        }"
        (click)="toggleNav('postNav', 'posts')"
      >
        <i class="bi bi-pin-angle-fill"></i>
        <span>Bài viết</span>
      </a>
      <ul id="post-nav" class="nav-content" [ngClass]="{ show: navStates['postNav'] }">
        <li>
          <a [ngClass]="{ active: activeComponent === 'posts' }" (click)="showAdminComponent('posts')">
            <span>Tất cả bài viết</span>
          </a>
        </li>
        <li>
          <a [ngClass]="{ active: activeComponent === 'add-post' }" (click)="showAdminComponent('add-post')">
            <span>Viết bài mới</span>
          </a>
        </li>

        <li>
          <a [ngClass]="{ active: activeComponent === 'categories' }" (click)="showAdminComponent('categories')">
            <span>Chuyên mục</span>
          </a>
        </li>
        <li>
          <a [ngClass]="{ active: activeComponent === 'tags' }" (click)="showAdminComponent('tags')">
            <span>Thẻ</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: activeComponent === 'comments' }"
        (click)="showAdminComponent('comments')"
      >
        <i class="bi bi-chat-right-quote-fill"></i>
        <span>Bình luận</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{
          active: activeComponent === 'achievements',
        }"
        (click)="showAdminComponent('achievements')"
      >
        <i class="fa-solid fa-trophy"></i>
        <span>Thành tựu</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{
          active: activeComponent === 'users' || activeComponent === 'forgot-password' || activeComponent === 'profile',
        }"
        (click)="toggleNav('userNav', 'users')"
      >
        <i class="bi bi-person-fill"></i>
        <span>Thành viên</span>
      </a>
      <ul id="icons-nav" class="nav-content" [ngClass]="{ show: navStates['userNav'] }">
        <li>
          <a [ngClass]="{ active: activeComponent === 'users' }" (click)="showAdminComponent('users')">
            <span>Mọi người</span>
          </a>
        </li>
        <li>
          <a
            [ngClass]="{ active: activeComponent === 'forgot-password' }"
            (click)="showAdminComponent('forgot-password')"
          >
            <span>Quên mật khẩu</span>
          </a>
        </li>
        <li>
          <a [ngClass]="{ active: activeComponent === 'profile' }" (click)="showAdminComponent('profile')">
            <span>Hồ sơ</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: activeComponent === 'contact' }" (click)="showAdminComponent('contact')">
        <i class="bi bi-envelope-arrow-up-fill"></i>
        <span>Liên hệ</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-gear-fill"></i>
        <span>Cài đặt</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenuCollapse()">
        <i class="fas fa-arrow-circle-left"></i>
        <span>Thu gọn menu</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->
  </ul>
</div>
<!-- End Sidebar-->
