.root-progress-bar {
  --ng-progress-thickness: 3;
  ::ng-deep {
    .ng-bar-placeholder {
      background-color: lightgray;
    }
    .ng-bar {
      background: #00f260;
      background: linear-gradient(to right, #0575e6, #00f260);
    }
  }
}
