.blog-detail {
  padding-top: 30px;
  background: #ffff;
}
.blog-detail__main {
  padding: 0;
}

.blog-detail__content {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border: 1px solid rgba(27, 47, 69, 0.15);
  background-color: #ffffff;
}

.blog-detail__image {
  overflow: hidden;
}

.blog-detail__title {
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin: 20px 0 0 0;
  color: var(--color-secondary);
}

.blog-detail__body {
  margin-top: 5px;
  box-sizing: border-box;
  max-width: 100%; /* Hoặc chiều rộng cụ thể, nếu cần */
  overflow: hidden; /* Tránh tràn */
}

.blog-detail__body h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog-detail__body blockquote {
  overflow: hidden;
  background-color: rgba(27, 47, 69, 0.06);
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog-detail__body blockquote p {
  color: var(--color-default);
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog-detail__body blockquote:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--color-secondary);
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-detail__meta-top {
  margin-top: 20px;
  color: var(--color-gray);
}

.blog-detail__meta-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog-detail__meta-item + .blog-detail__meta-item {
  padding-left: 20px;
}

.blog-detail__meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: rgba(86, 184, 230, 0.8);
}

.blog-detail__meta-top a {
  color: var(--color-gray);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog-detail__meta-bottom {
  padding-top: 10px;
  border-top: 1px solid rgba(27, 47, 69, 0.15);
}

.blog-detail__meta-bottom i {
  color: #38618e;
  display: inline;
}

.blog-detail__meta-bottom a {
  color: rgba(27, 47, 69, 0.8);
  transition: 0.3s;
}

.blog-detail__meta-bottom a:hover {
  color: var(--color-primary);
}

.blog-detail__meta-bottom .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog-detail__meta-bottom .cats li {
  display: inline-block;
}

.blog-detail__tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog-detail__tag-item {
  display: inline-block;
}

.blog-detail__tag-item + .blog-detail__tag-item::before {
  padding-right: 6px;
  color: var(--color-default);
  content: ',';
}

.blog-detail__meta-bottom .share {
  font-size: 16px;
}

.blog-detail__meta-bottom .share i {
  padding-left: 5px;
}

.blog-detail__post-author {
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog-detail__post-author img {
  max-width: 120px;
  margin-right: 20px;
}

.blog-detail__post-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: var(--color-secondary);
}

.blog-detail__post-author .social-links {
  margin: 0 10px 10px 0;
}

.blog-detail__post-author .social-links a {
  color: rgba(27, 47, 69, 0.5);
  margin-right: 5px;
}

.blog-detail__post-author p {
  font-style: italic;
  color: rgba(var(--color-gray-rgb), 0.8);
  margin-bottom: 0;
}
