<!-- blog-detail.component.html -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-8" *ngIf="post; else errorTemplate">
        <article class="blog-details">
          <div class="post-img">
            <img [src]="post.thumbnail_url" alt="" class="img-fluid" />
          </div>
          <h2 class="title">{{ post.title }}</h2>
          <div class="meta-top">
            <ul>
              <li class="d-flex align-items-center">
                <i class="bi bi-person"></i>
                <a href="blog-details.html">{{ post.author_name }}</a>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi bi-clock"></i>
                <a href="blog-details.html"
                  ><time datetime="2020-01-01">{{ post.created_at }}</time></a
                >
              </li>
              <li class="d-flex align-items-center">
                <i class="bi bi-chat-dots"></i>
                <a href="blog-details.html">{{ post.comment_count }}</a>
              </li>
            </ul>
          </div>
          <!-- End meta top -->
          <div class="content">
            <p>{{ post.content }}</p>
          </div>
          <div class="meta-bottom">
            <i class="bi bi-tags"></i>
            <ul class="tags">
              <li><a>Creative</a></li>
              <li><a>Tips</a></li>
              <li><a>Marketing</a></li>
            </ul>
          </div>
          <!-- End meta bottom -->
        </article>
        <!-- End blog post -->
        <div class="comments">
          <h4 class="comments-count">8 Comments</h4>
          <!-- Comments content -->
        </div>
        <!-- End blog comments -->
      </div>
      <ng-template #errorTemplate>
        <div class="col-lg-8">
          <div class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section>
<!-- End Blog Details Section -->
<div *ngIf="!post">
  <p>Loading...</p>
</div>
