<div class="admin-update-client">
  <div class="admin-update-client__header">
    <h4 class="admin-update-client__header-title">Cập nhật Khách Hàng</h4>
  </div>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="admin-update-client__body">
      <div class="form-group">
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Tên mục mới"
          formControlName="name"
        />
        <div class="admin-update-client__error-container">
          <div
            *ngIf="
              clientForm.get('name')?.touched && clientForm.get('name')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="clientForm.get('name')?.errors?.['required']">
              Tên mục là bắt buộc.
            </div>
            <div *ngIf="clientForm.get('name')?.errors?.['minlength']">
              Tên khách hàng phải có ít nhất 3 ký tự.
            </div>
            <div *ngIf="clientForm.get('name')?.errors?.['maxlength']">
              Tên khách hàng không được vượt quá 50 ký tự.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="description">Mô tả</label>
        <textarea
          id="description"
          class="form-control description"
          formControlName="description"
          rows="3"
        ></textarea>
        <div class="admin-update-client__error-container">
          <div
            *ngIf="
              clientForm.get('description')?.touched &&
              clientForm.get('description')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="clientForm.get('description')?.errors?.['required']">
              Mô tả là bắt buộc.
            </div>
            <div *ngIf="clientForm.get('description')?.errors?.['minlength']">
              Mô tả phải có ít nhất 3 ký tự.
            </div>
            <div *ngIf="clientForm.get('description')?.errors?.['maxlength']">
              Mô tả không được vượt quá 255 ký tự.
            </div>
          </div>
        </div>
      </div>
      <div class="admin-update-client__image mt-3">
        <img
          *ngIf="selectedLogoUrl; else emptyImage"
          [src]="selectedLogoUrl"
          alt="Logo"
          class="admin-update-client__image-filled img-thumbnail"
        />
        <ng-template #emptyImage>
          <div class="admin-update-client__image-empty img-thumbnail"></div>
        </ng-template>
        <div class="admin-update-client__image-actions">
          <button
            type="button"
            class="admin-update-client__select-image"
            (click)="openLogoModal()"
          >
            Select Logo
          </button>
          <button
            *ngIf="selectedLogoUrl"
            type="button"
            class="admin-update-client__remove-image"
            (click)="removeLogo()"
          >
            Remove Logo
          </button>
        </div>
      </div>
    </div>
    <div class="admin-update-client__footer">
      <button
        type="button"
        class="admin-update-client__cancel"
        (click)="activeModal.dismiss()"
      >
        Huỷ
      </button>
      <button
        type="submit"
        class="admin-update-client__update"
        [disabled]="clientForm.invalid"
      >
        Cập nhật
      </button>
    </div>
  </form>
</div>
