<div class="confirm-dialog__header">
  <h5 class="confirm-dialog__title">{{ title }}</h5>
</div>
<div class="confirm-dialog__body">
  <p>{{ message }}</p>
</div>
<div class="confirm-dialog__footer">
  <div class="confirm-dialog__button">
    <button type="button" class="confirm-dialog__button-dismiss" (click)="activeModal.dismiss()">
      {{ cancelText }}
    </button>
    <button type="button" class="confirm-dialog__button-confirm" (click)="onConfirm()">
      {{ confirmText }}
    </button>
  </div>
</div>
