/*--------------------------------------------------------------
# Blog Sidebar
--------------------------------------------------------------*/
.sidebar .sidebar-title {
  font-size: 22px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--color-secondary);
}

.sidebar .sidebar-item+.sidebar-item {
  margin-top: 40px;
}

.sidebar .search-form form {
  background: #fff;
  border: 1px solid rgba(27, 47, 69, 0.2);
  padding: 3px 10px;
  position: relative;
}

.sidebar .search-form form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.sidebar .search-form form input[type=text]:focus {
  outline: none;
}

.sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: var(--color-primary);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.sidebar .search-form form button i {
  line-height: 0;
}

.sidebar .search-form form button:hover {
  background: rgba(86, 184, 230, 0.8);
}

.sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.sidebar .categories ul li+li {
  padding-top: 10px;
}

.sidebar .categories ul a {
  color: var(--color-secondary);
  font-size: 15px;
}

.sidebar .categories ul a:hover {
  color: var(--color-default);
}

.sidebar .categories ul a span {
  padding-left: 5px;
  color: rgba(var(--color-default-rgb), 0.4);
  font-size: 14px;
}

.sidebar .recent-posts .post-item {
  display: flex;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.sidebar .recent-posts .post-item+.post-item {
  margin-top: 15px;
}

.sidebar .recent-posts img {
  width: 80px;
  margin-right: 15px;
}

.sidebar .recent-posts h4 {
  font-size: 18px;
  font-weight: 400;
}

.sidebar .recent-posts h4 a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.sidebar .recent-posts h4 a:hover {
  color: var(--color-primary);
}

.sidebar .recent-posts time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: rgba(var(--color-default-rgb), 0.4);
}

.sidebar .tags {
  margin-bottom: -10px;
}

.sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.sidebar .tags ul li {
  display: inline-block;
}

.sidebar .tags ul a {
  color: #38618e;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid rgba(27, 47, 69, 0.15);
  display: inline-block;
  border-radius: 50px;
  transition: 0.3s;
}

.sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #03d1fe;
  background: #0880e8;
}

.sidebar .tags ul a span {
  padding-left: 5px;
  color: rgba(27, 47, 69, 0.8);
  font-size: 14px;
}
