<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <img src="/assets/images/counts-bg.jpg" alt="Background Image" class="counts__background-image" />
  <div class="counts__container">
    <div class="counts__title">
      <h3 class="counts__title-text">Những gì chúng tôi đạt được cho đến nay</h3>
    </div>
    <div class="counts__row">
      <div *ngFor="let achievement of achievements$ | async; let i = index" class="counts__col">
        <span id="counter-{{ i }}" class="counts__number"></span>
        <p class="counts__description">{{ achievement.title }}</p>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->
