<div
  class="min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="login-form mx-auto">
          <h2 class="login-header">Đăng nhập</h2>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="email"
              (input)="onEmailChange($event)"
              name="email"
              (focus)="loginForm?.form?.markAsTouched()"
              id="email"
            />
            <div class="divider-nospace"></div>
          </div>

          <div class="form-group password-field">
            <label for="password">Mật khẩu</label>
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              [(ngModel)]="password"
              (input)="onPasswordChange($event)"
              class="form-control"
              id="password"
              placeholder="Nhập mật khẩu"
            />
            <i
              class="password-toggle fas"
              [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"
              (click)="togglePasswordVisibility()"
              style="cursor: pointer"
              title="Hiển thị/Ẩn mật khẩu"
            ></i>
            <div class="divider-nospace"></div>
            <p
              class="text-danger"
              *ngIf="
                password.length < 3 &&
                (loginForm?.form?.touched || loginForm?.form?.dirty)
              "
            >
              Password phải có ít nhất 3 ký tự
            </p>
          </div>

          <div class="form-group">
            <div class="form-check checkbox-text">
              <a href="#" class="register-link">Quên mật khẩu</a>
            </div>
          </div>

          <button type="button" (click)="login()" class="login-button">
            Đăng nhập
          </button>

          <div class="divider"></div>
          <p class="text-center">
            Bạn chưa đăng ký?
            <span>
              <a (click)="navigateToRegister()" class="register-link"
                >Tạo tài khoản</a
              >
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
