<div class="admin category-page">
  <div class="container mt-3">
    <header class="mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <div class="text-left">
          <h1 class="title">Chuyên mục</h1>
          <p class="text-muted">Create, edit, and manage the chuyên mục on your site.</p>
        </div>
      </div>
    </header>

    <div class="input-wrapper mb-3">
      <div class="input-group">
        <i class="bi bi-search"></i>
        <input type="search" class="form-control search" placeholder="Tìm kiếm..." aria-label="Tìm kiếm" />
        <div class="button-container">
          <button class="btn btn-sm btn-primary custom-btn" type="button" (click)="addCategory()">
            Thêm chuyên mục
          </button>
        </div>
      </div>
    </div>

    <div class="list-category">
      <div
        class="list-category-item d-flex justify-content-between align-items-center"
        *ngFor="let category of categories"
      >
        <div class="left-icon">
          <i class="fas fa-folder"></i>
        </div>
        <p class="category-name">{{ category.name }}</p>
        <div class="right-icon">
          <i class="bi bi-three-dots" (click)="toggleMenu($event, category.id)"></i>
          <div class="options-menu" *ngIf="menuVisible && selectedCategoryId === category.id">
            <div class="option-item" (click)="editCategory(category.id)">
              <i class="bi bi-pencil"></i>
              Sửa
            </div>
            <div class="option-item" (click)="openDeleteModal(category.id)">
              <i class="bi bi-trash"></i>
              Xóa
            </div>
            <div class="option-item">
              <i class="bi bi-check-circle-fill"></i>
              Đặt làm mặc định
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
