<div class="error-404">
  <mat-card class="mat-elevation-z4">
    <mat-card-content class="error-404-content">
      <h1>404</h1>
      <h2>The page you are looking for doesn't exist.</h2>
      <button mat-raised-button color="primary" routerLink="/admin/dashboard">Back to home</button>
      <img src="assets/images/not-found.jpg" loading="lazy" alt="Page Not Found" />
      <div class="credits">
        Designed by
        <a>Quan Pham</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
