::ng-deep .modal-dialog {
  max-width: 45%; // Tăng kích thước modal lên 80% của màn hình
  margin: auto; // Đảm bảo modal nằm giữa màn hình theo chiều ngang
  display: flex;
  align-items: center; // Căn giữa theo chiều dọc
  min-height: calc(
    100% - 1rem
  ); // Đảm bảo modal không vượt quá chiều cao màn hình
}

::ng-deep .modal-header,
::ng-deep .modal-footer {
  border: none; // Loại bỏ đường kẻ ngăn cách
  border-radius: 0;
}

::ng-deep .modal-header,
::ng-deep .modal-body {
}

::ng-deep .modal-footer {
  display: flex;
  justify-content: flex-end; // Đưa các nút về phía cuối
}

.modal-title {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #2b3337;
}
.btn-cancel {
  width: 80px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid rgb(167, 170, 173);
}

.btn-add {
  width: 80px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(34, 112, 177);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(167, 170, 173);
}
.btn-add:hover {
  background-color: rgb(3, 93, 157);
}

.text-danger {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
img {
  width: 400px;
  height: 140px;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: end;
  height: 141px;
}

.image-actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.image-container:hover .image-actions {
  display: flex;
}

.empty-image {
  width: 400px;
  height: 141px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text {
  height: 141px; // Đặt chiều cao của logo-text bằng với image-container
  display: flex;
  align-items: center;
  justify-content: center; // Căn giữa theo chiều dọc
  flex: 1; // Chiếm phần còn lại của chiều rộng
}
.logo-container {
  display: flex;
  justify-content: space-between; // Đưa các phần tử về hai phía
  align-items: center; // Căn giữa theo chiều dọc
}
