.web-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu bằng chiều cao của màn hình */
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
  }

  a {
    color: #01b1d7;
    text-decoration: none;

    &:hover {
      color: #0dd3fe;
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Raleway', sans-serif;
  }

  /*--------------Sections General---------*/
  section {
    padding: 60px 0;
    scroll-margin-top: 70px;
  }

  .section-bg {
    background-color: #f2fdff;
  }

  .section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;

    h2 {
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-bottom: 0;
      color: #354144;
      position: relative;
      z-index: 2;
    }

    span {
      position: absolute;
      top: 30px;
      color: #f3f5f5;
      left: 0;
      right: 0;
      z-index: 1;
      font-weight: 700;
      font-size: 52px;
      text-transform: uppercase;
      line-height: 0;
    }

    p {
      margin-bottom: 0;
      position: relative;
      z-index: 2;
    }
  }

  @media (max-width: 575px) {
    .section-title h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    .section-title span {
      font-size: 38px;
    }
  }
}

.admin-layout {
  font-size: 14px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: #f0f0f0;
  scroll-behavior: smooth;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'roboto, sans-serif';
  }
}

/* Tùy chỉnh CSS cho modal */

.admin-modal .modal-dialog {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  margin: 0 auto; /* Đảm bảo căn giữa theo chiều ngang */
}

.admin-modal .modal-content {
  background-color: #f8f9fa;
  border: 0;
  border-radius: 0;
}

/* Tùy chỉnh CSS cho modal-select-image */

.admin-image-modal .modal-dialog {
  align-items: center; /* Căn giữa theo chiều dọc */
  width: 80%;
  max-width: 90%; /* Đảm bảo modal không bị quá rộng */
  height: 80%;
  max-height: 90%; /* Đảm bảo modal không bị quá cao */
}
.admin-image-modal .modal-content {
  background-color: #f8f9fa;
  border: 0;
  border-radius: 0;
}
.blog-detail__content img {
  max-width: 100% !important; /* Đảm bảo hình ảnh không vượt quá chiều rộng của container */
  height: auto !important; /* Đảm bảo hình ảnh giữ nguyên tỉ lệ */
  display: block;
  margin: 0 auto;
}

/* Màn hình từ 1200px trở lên (desktop lớn) */
@media (min-width: 1200px) {
  .blog-detail__content img {
    max-width: 70%; /* Ảnh sẽ chiếm tối đa 70% chiều rộng khung chứa */
    margin: 0 auto; /* Canh giữa ảnh */
  }
}
/* Màn hình từ 992px đến 1199px (desktop và laptop) */
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-detail__content img {
    max-width: 80%; /* Ảnh chiếm tối đa 80% chiều rộng khung chứa */
    margin: 0 auto; /* Canh giữa ảnh */
  }
}
/* Màn hình từ 768px đến 991px (tablet) */
@media (min-width: 768px) and (max-width: 991px) {
  .blog-detail__content img {
    max-width: 90%; /* Ảnh chiếm tối đa 90% chiều rộng khung chứa */
    margin: 0 auto; /* Canh giữa ảnh */
  }
}
/* Màn hình từ 576px đến 767px (tablet nhỏ hoặc điện thoại lớn) */
@media (min-width: 576px) and (max-width: 767px) {
  .blog-detail__content img {
    max-width: 100%; /* Ảnh chiếm toàn bộ chiều rộng khung chứa */
    margin: 0 auto;
  }
}
/* Màn hình nhỏ hơn 576px (điện thoại) */
@media (max-width: 575px) {
  .blog-detail__content img {
    max-width: 90%; /* Ảnh chiếm 90% chiều rộng khung chứa */
    margin: 0 auto; /* Canh giữa ảnh */
    display: block; /* Giúp căn giữa ảnh tốt hơn */
  }
}
