/* styles.scss */

/* 1. Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
html,
body,
textarea,
input,
button,
select,
a,
div,
span,
li,
table,
th,
td {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Giá trị mặc định cho font-size */
  line-height: 1.5; /* Giá trị mặc định cho line-height */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 2. Color variables */
$primary-color: #6200ea;
$secondary-color: #03dac6;
$background-color: #f6f9ff;
$text-color: #212121;

$admin-background-color: #e0e0e0; /* Màu nền cho giao diện admin */
$web-background-color: #f5f5f5; /* Màu nền cho giao diện web */

/* 3. Apply colors to body */
body {
  background-color: $background-color;
  color: $text-color;
}

/* 4. Global utility variables */
$spacing-unit: 8px;
$border-radius: 4px;
$transition-duration: 0.3s;

/* 5. Button styles */
.button {
  padding: $spacing-unit * 2 $spacing-unit * 4;
  border-radius: $border-radius;
  transition: background-color $transition-duration ease;
  background-color: $primary-color;
  color: $text-color;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

/* 6. Additional utility classes */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.success-snackbar {
  background-color: green;
  color: white;
}
/* 7. Blog detail content styles */
.blog-detail__content img {
  max-width: 100% !important; /* Đảm bảo hình ảnh không vượt quá chiều rộng của container */
  height: auto !important; /* Đảm bảo hình ảnh giữ nguyên tỉ lệ */
  display: block;
  margin: 0 auto;
}

/* Màn hình từ 1200px trở lên (desktop lớn) */
@media (min-width: 1200px) {
  .blog-detail__content img {
    max-width: 70%; /* Ảnh sẽ chiếm tối đa 70% chiều rộng khung chứa */
    margin: 0 auto; /* Canh giữa ảnh */
  }
}

/* Màn hình từ 992px đến 1199px (desktop và laptop) */
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-detail__content img {
    max-width: 80%; /* Ảnh chiếm tối đa 80% chiều rộng khung chứa */
    margin: 0 auto; /* Canh giữa ảnh */
  }
}

/* Màn hình từ 768px đến 991px (tablet) */
@media (min-width: 768px) and (max-width: 991px) {
  .blog-detail__content img {
    max-width: 90%; /* Ảnh chiếm tối đa 90% chiều rộng khung chứa */
    margin: 0 auto; /* Canh giữa ảnh */
  }
}

/* Màn hình từ 576px đến 767px (tablet nhỏ hoặc điện thoại lớn) */
@media (min-width: 576px) and (max-width: 767px) {
  .blog-detail__content img {
    max-width: 100%; /* Ảnh chiếm toàn bộ chiều rộng khung chứa */
    margin: 0 auto;
  }
}

/* Màn hình nhỏ hơn 576px (điện thoại) */
@media (max-width: 575px) {
  .blog-detail__content img {
    max-width: 90%; /* Ảnh chiếm 90% chiều rộng khung chứa */
    margin: 0 auto; /* Canh giữa ảnh */
    display: block; /* Giúp căn giữa ảnh tốt hơn */
  }
}
