<!-- ======= Blog Section ======= -->

<div class="blog">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-8 blog__main">
        <div class="row gy-5 blog__posts-list">
          <div
            class="col-lg-6 blog__post-item"
            *ngFor="let post of posts; trackBy: trackByFn"
          >
            <article class="d-flex flex-column blog__post">
              <div class="blog__post-img">
                <img [src]="post.thumbnail_url" alt="" class="img-fluid" />
              </div>
              <h2 class="blog__post-title">
                <a (click)="onPostClick(post.slug)">{{ post.title }}</a>
              </h2>
              <div class="blog__post-meta-top">
                <ul class="blog__post-meta-list">
                  <li class="d-flex align-items-center blog__post-meta-item">
                    <i class="bi bi-person"></i>
                    <a>{{ post.author_name }}</a>
                  </li>
                  <li class="d-flex align-items-center blog__post-meta-item">
                    <i class="bi bi-clock"></i>
                    <a>
                      <time [attr.datetime]="post.created_at">{{
                        post.created_at | date: 'MMM d, y'
                      }}</time>
                    </a>
                  </li>
                  <li class="d-flex align-items-center blog__post-meta-item">
                    <i class="bi bi-chat-dots"></i>
                    <a href="">{{ post.comment_count }} Comments</a>
                  </li>
                </ul>
              </div>
              <div class="blog__post-content">
                <p>{{ post.excerpt }}</p>
              </div>

              <div class="blog__post-read-more mt-auto align-self-end">
                <a (click)="onPostClick(post.slug)"
                  >Read More <i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </article>
          </div>
          <!-- End post list item -->
        </div>
        <!-- End blog posts list -->
        <div class="blog__pagination d-flex justify-content-center">
          <span class="pagination-links">
            <ngb-pagination
              [collectionSize]="totalPages * itemsPerPage"
              [pageSize]="itemsPerPage"
              [page]="currentPage"
              (pageChange)="onPageChange($event)"
            ></ngb-pagination>
          </span>
        </div>
        <!-- End blog pagination -->
      </div>
      <div class="col-lg-4 blog__sidebar">
        <div class="blog__sidebar-content ps-lg-4">
          <div class="blog__sidebar-item blog__sidebar-item--search">
            <h3 class="blog__sidebar-title">Search</h3>
            <div class="row mt-3" [formGroup]="searchForm">
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search..."
                  formControlName="keyword"
                  (input)="limitWords($event, 10, 100)"
                />
              </div>
              <div class="col-md-3">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="searchPosts()"
                >
                  Tìm kiếm
                </button>
              </div>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="resetSearch()"
                >
                  Xóa
                </button>
              </div>
            </div>
          </div>
          <!-- End sidebar search form -->

          <div class="blog__sidebar-item blog__sidebar-item--categories">
            <h3 class="blog__sidebar-title">Categories</h3>
            <ul class="mt-3">
              <li
                *ngFor="let category of categories"
                [class.active]="selectedCategorySlug === category.code"
              >
                <a (click)="onCategorySelect(category.code)">
                  {{ category.name }} <span>({{ category.postCount }})</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- End sidebar categories -->

          <div class="blog__sidebar-item blog__sidebar-item--recent-posts">
            <h3 class="blog__sidebar-title">Recent Posts</h3>

            <div class="mt-3">
              <div
                class="blog__recent-post-item mt-3"
                *ngFor="let post of recentPosts"
              >
                <img
                  [src]="post.thumbnail_url"
                  class="flex-shrink-0"
                  height="50px"
                />
                <div>
                  <p>
                    <a (click)="onPostClick(post.slug)">{{ post.title }}</a>
                  </p>
                  <time [attr.datetime]="post.created_at">
                    {{ post.created_at | date: 'MMM d, y' }}
                  </time>
                </div>
              </div>
              <!-- End recent post item -->
            </div>
          </div>
          <!-- End sidebar recent posts -->

          <!-- End sidebar tags -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Blog Section -->

<!-- Loading Spinner -->
