<div class="blog" id="blog">
  <div class="blog__banner-content">
    <div class="blog__content-wrapper">
      <div class="blog__row">
        <div class="blog__col">
          <h1 class="blog__title">PI VINA DANANG Blogs</h1>
          <p class="blog__description">Cập nhật những thông tin mới về tuyển dụng, tin tức của công ty</p>
        </div>
      </div>
    </div>
  </div>
  <div class="blog__container">
    <div class="blog__search-and-category">
      <div [formGroup]="searchForm" class="blog__search-form">
        <div class="blog__search-section">
          <div class="blog__search-bar">
            <i *ngIf="!showClearIcon" class="fas fa-search blog__search-icon"></i>
            <input
              type="text"
              formControlName="keyword"
              (input)="toggleClearIcon(); limitWords($event, 10, 100)"
              (keydown.enter)="searchPosts()"
              placeholder="Search articles..."
              class="blog__search-input"
            />
            <i *ngIf="showClearIcon" class="fas fa-times blog__clear-icon" (click)="resetSearch()"></i>
          </div>
        </div>

        <div class="blog__category-nav">
          <ng-select
            [items]="categories"
            bindLabel="name"
            bindValue="code"
            placeholder="Select Category"
            formControlName="categorySlug"
            (change)="onCategorySelect($event)"
            [clearable]="true"
            (clear)="clearCategory()"
          ></ng-select>
        </div>
      </div>
    </div>

    <div class="blog__articles-container">
      <div *ngIf="articles.length > 0; else noResults" class="blog__articles-grid">
        <div *ngFor="let article of articles; trackBy: trackByPost" class="blog__article-card" #articleCard>
          <div class="blog__article-image">
            <img [appLazyLoad]="article.thumbnailUrl" loading="lazy" [transitionDuration]="'3s'" [alt]="article.title" />
          </div>
          <div class="blog__article-content">
            <h2 class="blog__article-title" (click)="onPostClick(article.slug)">{{ article.title }}</h2>
            <div class="blog__article-meta">
              <span class="blog__author">
                <i class="fas fa-user"></i>
                {{ article.authorName }}
              </span>
              <span class="blog__comment-count">
                <i class="fas fa-comments"></i>
                {{ article.commentCount }}
              </span>
              <span class="blog__creation-date">
                <i class="fas fa-calendar-alt"></i>
                {{ article.createdAt | date }}
              </span>
            </div>
            <p class="blog__article-summary">{{ article.excerpt }}</p>
            <button class="blog__read-more" (click)="onPostClick(article.slug)">Read More</button>
          </div>
        </div>
      </div>
      <ng-template #noResults>
        <div class="blog__no-results">
          <p>Không có kết quả nào được tìm thấy.</p>
        </div>
      </ng-template>
    </div>
    <div class="blog__articles-pagination">
      <app-custom-pagination
        [totalPages]="totalPages"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"
      ></app-custom-pagination>
    </div>
  </div>
</div>
