.blog {
  margin-top: 50px;
  /* Adjust the value as needed */
}

.blog__posts-list .blog__post {
  height: 100%;
  border-bottom: 1px solid #d6e2ef;
  padding-bottom: 30px;
}

.blog__posts-list .blog__post + .blog__post {
  margin-top: 60px;
}

.blog__post-img {
  max-height: 200px;
  overflow: hidden;
}

.blog__post-title {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0 0 0;
}

.blog__post-title a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.blog__post-title a:hover {
  color: var(--color-primary);
}

.blog__post-meta-top {
  margin-top: 20px;
  color: #467ab3;
}

.blog__post-meta-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog__post-meta-list .blog__post-meta-item + .blog__post-meta-item {
  padding-left: 20px;
}

.blog__post-meta-item i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: rgba(86, 184, 230, 0.8);
}

.blog__post-meta-item a {
  color: #467ab3;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog__post-content {
  margin-top: 5px;
  padding: 0;
}

.blog__post-read-more a {
  display: inline-block;
  color: #1f98d1;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
}

.blog__post-read-more a:hover {
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Blog Home Pagination
--------------------------------------------------------------*/
.blog__pagination {
  margin-top: 30px;
  color: #38618e;
}

.blog__pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog__pagination li.active a,
.blog__pagination li:hover a {
  background: #027fe5;
  color: #fff;
}

/*--------------------------------------------------------------
# Blog Sidebar
--------------------------------------------------------------*/
.blog__sidebar-title {
  font-size: 22px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--color-secondary);
}

.blog__sidebar-item + .blog__sidebar-item {
  margin-top: 40px;
}

.blog__sidebar-item--search form {
  background: #fff;
  border: 1px solid rgba(27, 47, 69, 0.2);
  padding: 3px 10px;
  position: relative;
}

.blog__sidebar-item--search form input[type='text'] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.blog__sidebar-item--search form input[type='text']:focus {
  outline: none;
}

.blog__sidebar-item--search form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: var(--color-primary);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.blog__sidebar-item--search form button i {
  line-height: 0;
}

.blog__sidebar-item--search form button:hover {
  background: rgba(86, 184, 230, 0.8);
}

.blog__sidebar-item--categories ul {
  list-style: none;
  padding: 0;
}
/* Ví dụ CSS cho lớp "active" */
.blog__sidebar-item--categories .active a,
.blog__sidebar-item--tags .active a {
  font-weight: bold;
  color: #007bff; /* Màu sắc bạn muốn */
}
.blog__sidebar-item--categories ul li a {
  padding-top: 15px;
  display: block;
  padding: 10px;
  color: var(--color-secondary);
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.blog__sidebar-item--categories ul li a:hover {
  background-color: var(--color-primary);
  color: #5396e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog__sidebar-item--categories ul a span {
  padding-left: 5px;
  color: rgba(var(--color-default-rgb), 0.4);
  font-size: 14px;
}

.blog__sidebar-item--recent-posts .blog__recent-post-item {
  display: flex;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.blog__sidebar-item--recent-posts
  .blog__recent-post-item
  + .blog__recent-post-item {
  margin-top: 15px;
}

.blog__sidebar-item--recent-posts img {
  width: 80px;
  margin-right: 15px;
}

.blog__sidebar-item--recent-posts h4 {
  font-size: 18px;
  font-weight: 400;
}

.blog__sidebar-item--recent-posts h4 a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.blog__sidebar-item--recent-posts h4 a:hover {
  color: var(--color-primary);
}

.blog__sidebar-item--recent-posts time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: rgba(var(--color-default-rgb), 0.4);
}

.blog__sidebar-item--tags {
  margin-bottom: -10px;
}

.blog__sidebar-item--tags ul {
  list-style: none;
  padding: 0;
}

.blog__sidebar-item--tags ul li {
  display: inline-block;
}

.blog__sidebar-item--tags ul a {
  color: #38618e;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid rgba(27, 47, 69, 0.15);
  display: inline-block;
  border-radius: 50px;
  transition: 0.3s;
}

.blog__sidebar-item--tags ul a:hover {
  color: #fff;
  border: 1px solid #03d1fe;
  background: #0880e8;
}

.blog__sidebar-item--tags ul a span {
  padding-left: 5px;
  color: rgba(27, 47, 69, 0.8);
  font-size: 14px;
}
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
