.admin-media {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  .admin-media__header {
    position: sticky; /* Hoặc fixed */
    top: 0; /* Đặt khoảng cách từ trên cùng */
    z-index: 1000; /* Đảm bảo nó nằm trên các phần tử khác */
    background-color: white; /* Nền trắng để đảm bảo nội dung bên dưới không che khuất */

    .admin-media__filter-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid rgb(223, 223, 225);
      box-sizing: border-box;
      height: 55px;
      gap: 0;
      position: relative;
      flex-wrap: wrap;
      margin-bottom: 10px;
      .admin-media__dropdown {
        width: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        flex: 1 1 auto;
        height: 100%;
        .admin-media__dropdown-button {
          border-radius: 0;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          background-color: #fff;
          border: none;
          color: #818080;
          font-size: 1.2rem;
          cursor: pointer;
          .admin-media__dropdown-icon {
            margin-right: 5px;
          }
        }
      }
      .admin-media__nav-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 68%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        flex: 1 1 auto;
        flex-wrap: wrap;
        padding: 0; // Đảm bảo không có padding
        margin: 0; // Đảm bảo không có margin
        .admin-media__nav-panel {
          display: flex;
          align-items: center;
          height: 100%;
          box-sizing: border-box;
          .admin-media__tabs-list {
            display: flex;
            align-items: center;
            height: 100%;
            flex-wrap: wrap;
            .admin-media__nav-tab {
              position: relative;
              border-radius: 0;
              transition: background-color 0.3s;
              color: rgb(0, 103, 173);
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              box-sizing: border-box;
              line-height: 100%;
              padding: 0; // Đảm bảo không có padding
              margin: 0; // Đảm bảo không có margin
              .admin-media__nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(0, 103, 173);
                border-radius: 0;
                position: relative;
                transition: background-color 0.3s;
                height: 100%;
                padding-right: 20px;
                border-bottom: 2px solid transparent; /* Thêm border-bottom để đảm bảo nhất quán */
                &:hover {
                  background-color: rgb(215, 224, 230);
                }
                &.active {
                  background-color: rgb(215, 224, 230);
                  color: #0e0e0f;
                  border-bottom: 2px solid #000;
                }
              }
            }
          }
        }
        .admin-media__search-icon {
          font-size: 1.5rem;
          cursor: pointer;
          position: absolute;
          right: 10px;
          z-index: 2;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.3s ease;
        }
        .admin-media__search-field {
          width: 0;
          height: 100%;
          border: none;
          outline: none;
          padding: 0 40px 0 10px;
          box-sizing: border-box;
          transition:
            width 0.3s ease,
            opacity 0.3s ease;
          opacity: 0;
          position: absolute;
          right: 0;
          top: 0;
          background-color: white;
          border: 1px solid #dee2e6;
          border-radius: 0;
        }
        .admin-media__search-field.active {
          width: 100%; /* Mở rộng kích thước */
          opacity: 1; /* Hiển thị */
        }
        .admin-media__search-field:focus {
          background-color: #f9f9f9; /* Thay đổi màu nền khi focus */
          border: 1px solid rgb(34, 112, 177); /* Thêm viền màu xanh khi focus */
          outline: 2px solid rgb(145, 201, 242);
        }
      }
      .admin-media__storage-info {
        height: 100%;
        width: 25%;
        flex: 1 1 auto;
        .admin-media__plan-storage-label {
          position: relative;
          text-align: center;
          width: 100%;
          padding-top: 10px;
          font-size: 12px;
          &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 60%;
            border-top: 3px solid #676666;
          }
        }
      }
    }
    .admin-media__upload-bar {
      height: 55px;
      z-index: 900;
      padding: 0px 10px 0px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .admin-media__upload-controls {
        display: flex;
        align-items: end;
        .admin-media__btn-upload {
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          border-radius: 0;
          font-size: 12px;
          display: flex;
          align-items: center;
          margin-right: 10px;
          height: 30px;
          padding: 0 10px;
          border: 1px solid rgb(195, 196, 199);

          i {
            margin-right: 2px; /* Khoảng cách giữa icon và văn bản */
          }
        }
      }
      .admin-media__object-type {
        display: flex;
        align-items: center;
        margin-right: 10px;
        height: 30px;

        .admin-media__select {
          height: 30px;
          font-size: 12px;
          padding: 0 10px;
          padding-right: 30px;
          border: 1px solid #dee2e6;
          border-radius: 0;
          transition:
            background-color 0.3s,
            color 0.3s;

          &.valid {
            background-color: rgb(34, 112, 177);
            color: white;
          }

          &:focus,
          &:hover {
            background-color: rgb(34, 112, 177);
            color: white;
          }

          option:hover {
            background-color: rgb(34, 112, 177);
            color: white;
          }
        }
      }

      .admin-media__action {
        display: flex;
        align-items: center;
        height: 30px;
        .admin-media__action-btn {
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          border-radius: 0;
          font-size: 12px;
          display: flex;
          align-items: center;
          height: 100%;
          border: 1px solid rgb(195, 196, 199);
          margin: 2px;
        }
        .admin-media__action-btn--remove {
          &:hover {
            color: rgb(255, 42, 0);
          }
          i {
            margin-right: 5px;
          }
        }
        .admin-media__action-btn--unselect {
          &:hover {
            color: rgb(210, 228, 11);
          }
          i {
            margin-right: 5px;
          }
        }
      }
      .admin-media__slider {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: 20%;
        .admin-media__slider-icon--small {
          font-size: 0.8rem;
          color: #6c757d;
        }
        .admin-media__slider-icon--large {
          font-size: 1.4rem;
          color: #6c757d;
        }
        input[type="range"] {
          width: 100%;
          margin: 0 10px;
        }
      }
    }
  }
  .admin-media__body {
    position: relative;
    margin-bottom: 5px;
    .admin-media__images-scroll {
      flex: 1; /* Chiếm toàn bộ không gian còn lại */
      overflow-y: auto; /* Cho phép cuộn dọc */
      overflow-x: hidden; /* Không cho phép cuộn ngang */
      min-height: 65vh;
      max-height: 65vh;
      .admin-media__images-container {
        margin: 0px 10px 0 10px;
        display: 1;
        .admin-media__image-item {
          padding: 0px; /* Đảm bảo không có padding thừa */
          margin: 5px;
          width: calc(16.66% - 10px); /* Tính toán chiều rộng */
          border: 1px solid #ddd;
          &:hover {
            border: 1px solid rgb(0, 0, 0);
          }
          .admin-media__image-card {
            position: relative;
            border-radius: 0px;
            overflow: hidden;
            cursor: pointer;
            .admin-media__image {
              width: 100%;
              height: 150px; /* Đặt chiều cao cố định cho hình ảnh */
              object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
            }
            .admin-media__uploading-spinner {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 24px;
              color: #007bff;
            }
            .admin-media__selected-check {
              position: absolute;
              top: 10px;
              right: 10px;
              width: 30px; /* Chiều rộng hình tròn */
              height: 30px; /* Chiều cao hình tròn */
              background-color: rgb(34, 112, 177); /* Màu nền xanh dương */
              color: white; /* Màu trắng cho dấu tích */
              display: flex; /* Sử dụng flexbox để căn giữa dấu tích */
              align-items: center; /* Căn giữa theo chiều dọc */
              justify-content: center; /* Căn giữa theo chiều ngang */
              border-radius: 50%; /* Bo tròn để tạo hình tròn */
              font-size: 16px; /* Kích thước dấu tích */
              font-weight: bold;
            }
          }
        }
      }
    }
    .admin-media__deleting-spinner {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      color: #007bff;
      background: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
    .admin-media__load-more {
      background-color: rgb(34, 112, 177);
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 12px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
  .admin-media__footer {
    position: sticky; /* Hoặc fixed */
    top: 0; /* Đặt khoảng cách từ trên cùng */
    z-index: 1000; /* Đảm bảo nó nằm trên các phần tử khác */
    background-color: white; /* Nền trắng để đảm bảo nội dung bên dưới không che khuất */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tạo bóng nhẹ cho hiệu ứng nổi */
    display: flex; /* Sử dụng Flexbox */
    justify-content: flex-end; /* Đẩy nội dung về bên phải */
    padding: 10px; /* Thêm khoảng đệm nếu cần */
    bottom: 0; /* Đặt khoảng cách từ dưới cùng */

    .admin-media__footer-button {
      height: 40px;
      width: 80px;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(195, 196, 199);
      color: rgb(0, 0, 0);

      font-size: 12px;
      margin: 2px;
      cursor: pointer;
    }
    .admin-media__footer-button--cancel:hover {
      border: 1px solid rgb(0, 0, 0);
    }
    .admin-media__footer-button--insert {
      background-color: rgb(255, 255, 255);
      cursor: not-allowed; // Hiển thị không thể nhấn khi nút bị vô hiệu
      &.active {
        background-color: rgb(
          34,
          112,
          177
        ); // Màu nền khi có hình ảnh được chọn
        cursor: pointer;
        color: rgb(255, 255, 255); // Màu chữ khi có hình ảnh được chọn
      }
    }
  }
}
